* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
body,
html {
    width: 100%;
    height: auto;
    color: white;
    font-family: 'Poppins', sans-serif;
}
body {
    background-color: #2b2b2b;
}
html {
    scroll-behavior: smooth;
}
header {
    position: sticky;
    top: 0;
    z-index: 1000;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #232323;
    padding: 10px;
}
#header-left {
    display: flex;
    align-items: center;
    justify-content: start;
    gap: 10px;
}
#header-left-about {
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: 5px;
}
#header-left-about p {
    font-size: 16px;
    margin: 0;
    font-weight: bolder;
}
#header-left-about p:nth-child(2) {
    color: #d69654;
}
#header-right ul {
    display: flex;
    gap: 30px;
    list-style-type: none;
    justify-content: space-around;
}
#header-right ul li a {
    text-decoration: none;
    color: white;
}
#home {
    color: #d69654 !important;
}
#sec-start {
    margin-top: 10vh;
    margin-left: 200px;
    margin-right: 300px;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
    height: 50vh;
}
#sec-left {
    display: flex;
    flex-direction: column;
    gap: 30px;
    justify-content: space-around;
    width: 50%;
}
#sec-left p:first-child {
    text-transform: uppercase;
    color: #d69654;
    letter-spacing: 2px;
}
#about-sec {
    font-weight: lighter;
    letter-spacing: 1px;
    line-height: 2;
}
#intro {
    display: flex;
    flex-direction: column;
    gap: 20px;
    justify-content: space-around;
    font-size: 18px;
}
#intro h1 span {
    color: #d69654;
}
#intro {
    line-height: 0.5;
}
#work-btn {
    background-color: #6f3d2e;
    color: white;
    padding: 15px 30px;
    border-radius: 10px;
    border: none;
    cursor: pointer;
}
#yt-btn {
    color: white;
    padding: 15px 30px;
    border-radius: 10px;
    border: none;
    background-color: #2b2b2b;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out;
}
#yt-btn:hover {
    background-color: #6f3d2e;
    color: white;
}
#sec-right img {
    border-radius: 42%;
    object-fit: cover;
    border: 2px solid #6f3d2e;
    padding: 5px;
}
#sec-start-footer {
    margin-top: 20vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: 200px;
    height: 10vh;
    margin-bottom: 10vh;
}
#sec-start-footer-right ul {
    display: flex;
    gap: 10px;
    list-style-type: none;
    justify-content: space-around;
    margin-right: 200px;
}
#sec-start-footer-right ul li a {
    text-decoration: none;
    color: #d69654;
    padding: 0 5px;
    letter-spacing: -1px;
}
#about-me {
    background-color: #232323;
    color: white;
    height: auto;
    padding-top: 10vh;
    padding-left: 200px;
}
#about-left {
    width: 50%;
    display: flex;
    flex-direction: column;
    gap: 10px;
}
#about-left-para {
    font-size: 16px;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: #d69654;
    font-weight: lighter;
}
#about-left-para-detail {
    font-size: 24px;
    line-height: 1.5;
    letter-spacing: 1.5px;
    font-weight: bolder;
}
#about-left-bottom {
    display: flex;
    gap: 15px;
    justify-content: space-around;
    align-items: flex-start;
    padding-top: 20px;
    padding-bottom: 20vh;
    flex-direction: column;
}
#what-i-do {
    background-color: #292929;
    color: white;
    padding-left: 200px;
    padding-top: 10vh;
    padding-bottom: 10vh;
    display: flex;
    justify-content: space-evenly;
    align-items: flex-start;
    height: auto;
    background-image: url('./images/bg_what_i_do.webp');
    background-repeat: no-repeat;
    background-size: 100%, 100%;
    flex-direction: column;
    margin-top: 20vh;
}
#what-i-do::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.3);
    z-index: -1;
}
#what-i-do-left {
    width: 50%;
    display: flex;
    flex-direction: column;
    gap: 30px;
}
#what-i-do-left-top p {
    color: #d69654;
    letter-spacing: 1.5px;
}
#what-i-do-left-bottom {
    line-height: 1.6;
    font-weight: lighter;
}
#what-i-do-right ul {
    display: flex;
    gap: 20px;
    list-style-type: none;
    justify-content: space-between;
    padding-left: 200px;
    align-items: flex-end;
    flex-direction: column;
}
#what-i-do-right ul li {
    letter-spacing: 1.5px;
    line-height: 1.5;
    font-size: 20px;
}
#what-i-do-right {
    padding-right: 200px;
}
#lang-excel {
    margin-bottom: 50px;
    display: flex;
    gap: 50px;
    list-style-type: none;
    justify-content: space-between;
    color: #d69654;
    margin-top: 10vh;
}
#what-i-do-top {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
#service {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #2b2b2b;
    width: 100%;
    height: auto;
}
#service-counter {
    width: 60%;
    margin: auto;
    height: auto;
    border-radius: 20px;
    background-color: #232323;
    box-shadow: 2rem -2rem 1rem -2rem #7e5f2a;
    padding: 10vh 10vh 30px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    margin-top: 20vh;
    margin-bottom: 20vh;
}
#service-counter-top {
    display: flex;
    gap: 20px;
    justify-content: space-between;
    color: white;
    flex-direction: column;
}
#service-counter-top p {
    color: #d69654;
    letter-spacing: 1.5px;
}
#service-counter-down {
    display: flex;
    gap: 15rem;
    justify-content: space-between;
    align-items: center;
    color: white;
    width: 100%;
}
#service-counter-down-left,
#service-counter-down-mid,
#service-counter-down-right {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
    flex-direction: column;
    width: 100%;
}
#service-counter-top h3 {
    font-size: 30px;
}
#service-counter-down-left h4,
#service-counter-down-mid h4,
#service-counter-down-right h4 {
    color: #434242;
    font-size: 40px;
}
#yt-promo {
    background-color: #232323;
    color: white;
    padding-left: 200px;
    height: auto;
    width: 80%;
    margin: auto;
    border-radius: 20px;
    background-image: url('https://thapatechnical.shop/ytshowcase.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;
    gap: 10vh;
    padding-top: 30vh;
    margin-bottom: 20vh;
}
#sub-yt,
#yt-promo-start p {
    letter-spacing: 1.5px;
    color: #d69654;
}
#sub-yt {
    font-weight: bolder;
}
#yt-promo-end {
    width: 50%;
    letter-spacing: 1.5px;
    font-size: 18px;
}
#yt-promo-end p {
    font-size: 20px;
}
#yt-check {
    background-color: #195d51;
    color: white;
    padding: 20px 30px;
    border-radius: 10px;
    cursor: pointer;
    border: none;
}
#yt-promo-mid {
    display: flex;
    justify-content: space-between;
    gap: 10px;
    flex-direction: column;
    letter-spacing: 2px;
    font-size: 24px;
    letter-spacing: 1.5px;
}
#yt-promo-footer {
    width: 40%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
    height: auto;
}
#yt-promo-footer p:nth-of-type(1) {
    color: #8d8484;
    font-weight: bold;
    font-size: 20px;
}
#yt-promo-footer p:nth-of-type(2) {
    font-size: 24px;
}
#yt-playlist-header {
    display: inline-block;
    margin-left: 200px;
    width: auto;
    border: 2px solid #6f3d2e;
    background-color: #6f3d2e;
    padding: 10px;
}
#yt-playlist-show {
    width: 100%;
    background-color: #232323;
    color: white;
    margin-top: 20vh;
    margin-bottom: 10vh;
    padding-top: 10vh;
    padding-bottom: 10vh;
}
#yt-playlist {
    width: 73.7%;
    margin: auto;
    height: auto;
    display: flex;
    gap: 20px;
    justify-content: space-around;
    align-items: center;
    border: 5px solid #6f3d2e;
    padding: 20px;
}
#yt-playlist-right {
    width: 60%;
    display: flex;
    gap: 20px;
    justify-content: space-around;
    align-items: flex-start;
    flex-direction: column;
}
#yt-playlist-right h3 {
    font-size: 24px;
}
#yt-playlist-right button {
    background-color: #6f3d2e;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    font-size: 20px;
    margin-top: 5vh;
}
#popular-videos-on-yt {
    width: 70%;
    margin: auto;
    height: auto;
    padding-top: 10vh;
    padding-bottom: 10vh;
}
#popular-videos-on-yt p {
    letter-spacing: 3px;
    font-size: 16px;
    color: #d69654;
}
#popular-videos-on-yt #title,
.title {
    font-size: 20px;
    font-weight: bolder;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
#popular-videos-on-yt #title h3,
.title h3 {
    font-size: 30px;
}
#popular-videos-on-yt #title a,
.title a {
    text-decoration: none;
    color: #d69654;
}
.card {
    border-radius: 10px;
    background-color: #232323;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 10px;
    border-radius: 20px;
    padding: 20px;
    width: 33%;
    margin: auto;
}
.card p {
    letter-spacing: -1px !important;
}
.card iframe {
    width: 100%;
    margin: auto;
    height: 30%;
}
#yt-videos {
    display: flex;
    gap: 20px;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
    margin-top: 10vh;
}
#project-and-code {
    width: 100%;
    background-color: #232323;
    padding: 10vh 0;
    transition: all 0.5s ease-in-out;
}
#project-and-code p {
    margin-left: 230px;
    color: #d69654;
    letter-spacing: 3px;
}
#project-title {
    width: 70%;
    margin: auto;
    height: auto;
}
#project-and-code-down {
    width: 70%;
    margin: auto;
    background-color: #434242;
    height: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
    margin-top: 10vh;
    border-radius: 20px;
    transition: all 0.2s ease-in-out;
}
#project-and-code-down:hover {
    box-shadow: 0 0 0 3px #6f3d2e;
}
#project-and-code-down-left img {
    border-radius: 1rem;
    height: 100%;
    padding: 20px;
}
#project-and-code-down-mid {
    width: 40%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
}
#project-and-code-down-mid p {
    margin: 0 !important;
    color: white;
    margin: 40px 0 !important;
    letter-spacing: normal;
}
#project-and-code-down-right {
    width: 30%;
}
#pac-right-list {
    width: 100%;
    display: flex;
    gap: 20px;
    justify-content: space-evenly;
    align-items: end;
    flex-direction: column;
    color: white;
    list-style: none;
    padding-right: 100px;
}
#project-and-code-down-mid button {
    background-color: #195d51;
    color: white;
    padding: 10px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    font-size: 16px;
    margin: 0 10px;
}
#event-details {
    background-color: #2b2b2b;
    height: 100vh;
    width: 100%;
}
#event-details-top {
    width: 70%;
    margin: auto;
    height: 80%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #232323;
    margin-top: 10vh;
    border-radius: 20px;
}
#event-details-top-left {
    width: 50%;
    display: flex;
    gap: 20px;
    justify-content: space-between;
    align-items: start;
    flex-direction: column;
    padding: 0 4rem;
}
#event-details-top-left p:nth-child(1) {
    color: #d69654;
    letter-spacing: 3px;
}
#event-details-top-left #h-together span h3 {
    color: #d69654;
    letter-spacing: 2px;
    font-size: 30px;
}
#event-details-top-left h3 {
    font-size: 30px;
}
#event-details-top-left #event-details-view {
    letter-spacing: 1px;
    font-weight: lighter;
}
#event-details-top-left button {
    background-color: #195d51;
    color: white;
    padding: 20px 30px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    font-size: 16px;
    margin-top: 20px;
    margin-right: 10px;
}
#event-details-top-right {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: end;
    gap: 20px;
    padding-left: 8rem;
}
.card-event-view {
    background-color: #434242;
    display: flex;
    justify-content: space-around;
    align-items: start;
    flex-direction: column;
    gap: 10px;
    border-radius: 20px;
    padding: 20px;
    width: 80%;
    margin: auto;
    transition: all 0.2s ease-in-out;
}
.card-event-view:hover {
    box-shadow: 0 0 0 3px #6f3d2e;
}
.card-event-view button {
    background-color: #232323;
    color: white;
    padding: 10px;
    border: none;
    margin-right: 20px;
    border-radius: 10px;
    cursor: pointer;
    font-size: 16px;
    transition: all 0.2s ease-in-out;
}
.card-event-view button:hover {
    background-color: #6f3d2e;
}
#testimonial-sec {
    width: 100%;
    background-color: #2b2b2b;
    height: 10vh;
    padding: 0 200px;
}
#testimonial-sec p {
    letter-spacing: 3px;
    color: #d69654;
}
#testimonial-cards {
    width: 100%;
    display: flex;
    gap: 20px;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 10vh;
    background-color: #232323;
    height: 60vh;
    padding: 20px 200px;
}
.testimonial-card {
    background-color: #434242;
    display: flex;
    flex-direction: column;
    gap: 20px;
    border-radius: 5px;
    justify-content: center;
    padding: 0 20px;
    width: 30%;
    height: 100%;
    transition: all 0.2s ease-in-out;
}
.testimonial-card:hover {
    box-shadow: 0 0 0 3px #6f3d2e;
}
#testimonial-place {
    width: 100%;
    background-color: #2b2b2b;
}
.testimonial-card-up p {
    letter-spacing: 1px;
    color: #9a9a9a;
    font-size: 16px;
}
.testimonial-card-down {
    background-color: #434242;
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 20px;
}
.testimonial-card-down img {
    width: 30%;
    border-radius: 50%;
}
.testimonial-card-down .details-about-reviewer p:nth-child(1) {
    font-weight: bolder;
}
#contact-us {
    width: 100%;
    background-color: #434242;
    height: auto;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
#contact-left {
    width: 50%;
    display: flex;
    justify-content: space-around;
    align-items: start;
    flex-direction: column;
    padding: 2rem 3rem;
    height: 100%;
    gap: 20px;
}
#contact-left > p:nth-child(1) {
    color: #d69654;
    letter-spacing: 3px;
}
#contact-left h4 {
    font-size: 30px;
    font-weight: bolder;
    letter-spacing: 2px;
}
#contact-left h4 span {
    color: #d69654;
}
#card {
    background-color: #232323;
    display: flex;
    justify-content: space-around;
    align-items: start;
    gap: 20px;
    border-radius: 10px;
    padding: 10px 20px;
    width: 320px;
    height: 250px;
    margin: 0;
    flex-direction: column;
}
#card div:nth-child(1) p:nth-child(1),
#card div:nth-child(2) p:nth-child(1),
#card div:nth-child(3) p:nth-child(1) {
    color: #9a9a9a;
    letter-spacing: 1.5px;
}
#card a {
    color: #d69654;
    text-decoration: none;
    margin: 0 5px;
}
.special-para {
    display: flex;
    justify-content: center;
    align-items: center;
}
.special-para span {
    margin: 0 5px;
    color: white;
}
#contact-right {
    width: 40%;
    border: 5px solid #232323;
    margin-right: 200px;
    height: auto;
    margin-top: 10vh;
    margin-bottom: 10vh;
    border-radius: 10px;
}
#contact-right form {
    display: flex;
    flex-direction: column;
    gap: 40px;
    padding: 20px;
    width: 100%;
    height: 100%;
    border-radius: 20px;
}
#contact-right form div {
    display: flex;
    justify-content: space-around;
    align-items: start;
    gap: 20px;
    flex-direction: column;
}
#contact-right form div button {
    background-color: #232323;
    color: white;
    padding: 10px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    font-size: 16px;
    transition: all 0.2s ease-in-out;
    background-color: #195d51;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
}
#contact-right form div button i {
    font-size: 30px;
    margin-right: 10px;
}
#contact-right form input,
#contact-right form textarea {
    padding: 10px;
    border: none;
    border-radius: 10px;
    width: 100%;
    background-color: #232323;
}
#contact-right form input {
    height: 8vh;
}
#contact-right form textarea {
    height: 20vh;
}
#contact-right form::placeholder {
    color: white;
}
#footer-bg {
    width: 100%;
    height: 40vh;
    background-image: url('https://thapatechnical.shop/footer-decoration.svg');
    background-repeat: no-repeat;
    background-size: contain;
}
footer {
    width: 80%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
    margin-bottom: 10vh;
}
#footer-left {
    display: flex;
    width: 50%;
    justify-content: space-around;
    align-items: start;
    gap: 40px;
    flex-direction: column;
    padding: 20px;
}
#footer-right {
    display: flex;
    width: 50%;
    justify-content: space-around;
    align-items: center;
    gap: 40px;
    flex-direction: column;
}
#footer-right ul {
    list-style: none;
    display: flex;
    gap: 30px;
    justify-content: space-around;
    align-items: center;
    color: #9a9a9a;
}
#footer-right ul:nth-child(2) {
    width: 100%;
    gap: 10px;
    height: 5vh;
    align-items: center;
}
#footer-right ul li {
    transition: all 0.1s ease-in-out;
}
#footer-right ul li:hover {
    color: white;
    cursor: pointer;
}
